<section class="section-favourites">
    <div class="container">
        <h2 class="section-title">Избранное</h2>
        <a href="" class="section-link favourites">Смотреть все</a>
        <ul class="card-list js-item-container">
            {{#each this}}
            <li class="userItems-list-item">
                <a href="" class=" section-gallery-goods-link" data-id="{{_id}}">
                    <div class="image-container">
                        <img class="section-gallery-item-image" src="{{imageUrls}}" alt="{{title}}" />
                    </div>
                    <h3 class="userItems-list-item-title">
                        {{description}}
                    </h3>
                    <p class="userItems-list-item-price">{{price}} €</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>