<section class="section-own-items">
    <div class="container">
        <h2 class="section-title">Мои товары</h2>
        <a href="" class="section-link ownItems">Смотреть все</a>
        <ul class="card-list js-item-container">
            {{#each this}}
            <li class="userItems-list-item">
                <a href="" class=" section-gallery-goods-link" data-id="{{_id}}">
                    <div class="image-container">
                        <img class="section-gallery-item-image" src="{{imageUrls}}" alt="{{title}}" />
                    </div>
                    <h3 class="userItems-list-item-title">
                        {{description}}
                    </h3>
                    <p class="userItems-list-item-price">{{price}} €</p>
                    <svg class="icon-fullscreen" width="20" height="24">
                        <use href="./images/sprite/sprite.svg#icon-fullscreen"></use>
                    </svg>
                    <svg class="icon-add-favorite" width="17" height="20">
                        <use href="./images/sprite/sprite.svg#icon-heart-add-favorite"></use>
                    </svg>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>