{{#each this}}
<li id="item{{id}}" class="hero-item">
    <div class="hero-wrap">
        <h2 class="hero-title">{{title}}</h2>
        <p class="hero-price">{{price}}</p>
    </div>
    <div class="hero-wrap">
        <img src="{{imageUrl}}" alt="{{title}}" width="100%" class="hero-image" />
    </div>
</li>
{{/each}}